@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #eaeff4;
}

.main_body {
    position: relative;
    margin-left: 8vw;
}

.login {
    position: absolute;
    z-index: 2;
}

.signup {
    position: absolute;
    z-index: 1;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}

.login .col-left,
.login .col-right {
    padding: 30px;
    display: flex;
}

.login .col-left {
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: #7a6906;
}

.login .col-right {
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}

@media(max-width: 575px) {
    .login .container {
        flex-direction: column;
        box-shadow: none;
    }
    .login .col-left,
    .login .col-right {
        width: 100%;
        margin: 0;
        clip-path: none;
    }
    .login .col-right {
        padding: 30px;
    }
}

.login .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.login .login-text h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.login .login-text p {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.login .login-text .btn {
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
    background-color: #7a6906;
}

.login .login-text .btn:hover {
    color: #a1852a;
    box-shadow: inset 150px 0 0 0 #ffffff;
    cursor: pointer;
}

.login .login-form {
    position: relative;
    width: 100%;
}

.login .login-form h2 {
    margin: 0 0 15px 0;
    font-size: 35px;
    font-weight: 700;
}

.login .login-form p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15spx;
}

.login .login-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.login .login-form p a {
    color: #b69b25;
    font-size: 14px;
    text-decoration: none;
}

.login .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.login .login-form p:last-child label {
    width: 60%;
    float: left;
}

.login .login-form label span {
    color: #ff574e;
    padding-left: 2px;
}

.login .login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.login .login-form input:focus {
    border-color: #ff574e;
}

.login .login-form button,
.login .login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #a1852a;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #b19b21;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #9e8a19;
    transition: .3s;
}

.login .login-form button:hover,
.login .login-form input[type=submit]:hover {
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #836117;
}

.signup .col-left,
.signup .col-right {
    padding: 30px;
    display: flex;
}

.signup .col-left {
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: #7a6906;
}

.signup .col-right {
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}

@media(max-width: 575px) {
    .signup .container {
        flex-direction: column;
        box-shadow: none;
    }
    .signup .col-left,
    .signup .col-right {
        width: 100%;
        margin: 0;
        clip-path: none;
    }
    .signup .col-right {
        padding: 30px;
    }
}

.signup .signup-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.signup .signup-text h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.signup .signup-text p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.signup .signup-text button {
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
    background-color: #7a6906;
}

.signup .signup-text button:hover {
    color: #a1852a;
    box-shadow: inset 150px 0 0 0 #ffffff;
    cursor: pointer;
}

.signup .signup-form {
    position: relative;
    width: 100%;
}

.signup .signup-form h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}

.signup .signup-form p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}

.signup .signup-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.signup .signup-form p a {
    color: #b69b25;
    font-size: 14px;
    text-decoration: none;
}

.signup .signup-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.signup .signup-form p:last-child label {
    width: 60%;
    float: left;
}

.signup .signup-form label span {
    color: #ff574e;
    padding-left: 2px;
}

.signup .signup-form input {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.signup .losignupgin-form input:focus {
    border-color: #ff574e;
}

.Gender {
    display: flex;
    flex-direction: row;
}
.left_gender {
    display:flex;
    flex-direction: row;
}

.right_gender {
    display: flex;
    flex-direction: row;
}

.signup .signup-form button,
.signup .signup-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #a1852a;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #b19b21;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #9e8a19;
    transition: .3s;
}


.signup .signup-form button:hover,
.signup .signup-form input[type=submit]:hover {
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #836117;
}